<div class="container displayContainer">
  <div class="row">
     <div class="signup">
        <h3>Please Sign Up Here!</h3>
        <div class="form-group">
          <input type="text" appNospaces class="form-control mb-4" placeholder="Email" #userName required>
        </div>
        <div class="form-group">
          <input type="password" class="form-control mb-4" placeholder="Password" #userPassword required>
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-primary" (click)="authService.signUp(userName.value, userPassword.value)">Sign Up</button>
          <span class="or">Or</span>
          <button type="button" class="btn btn-primary" (click)="authService.googleAuth()">Continue with Google</button>
        </div>
        <div class="form-group">
          <button class="form-control btn btn-info" routerLink="/signIn">Already have an account? Log In Here!</button>
        </div>

      </div>

  </div>
</div>
